.DS_Store
Logs
logs
*.log
npm-debug.log*
newrelic_agent*

# Runtime data
pids
*.pid
*.seed

# Application Local configuration
nconf-deve.json

# Atom IDE configuration
.atomrc.cson

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
